html, body {
	background-color: #fff;
	color: #636b6f;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
	font-weight:100;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 1ren;
	/*font-weight: 600;*/
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}
body{
		background: #f3f3f3;
	}
.avatar{
	border: solid 10px rgba(0,0,0,-0.8);
	width: 200px;
	height: 200px;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto;
	box-shadow: 0 0 60px rgba(0,0,0,.3);
}
.avatar img{
	width:180px;
	margin-top: 0;
	margin-left: 0px;
}
